<h1>New bug</h1>

<%= render 'form' %>

<% if(session[:feature_id]) %>
  <%= link_to 'Back', Feature.find(session[:feature_id]), :confirm => 'Unsaved changes would lost. Are you sure?' %>
<% else %>
  <%= link_to 'Back', bugs_path, :confirm => 'Unsaved changes would lost. Are you sure?' %>
<% end %>
