<h1>New feature</h1>

<%= render 'form' %>


<% if(session[:component_id]) %>
  <%= link_to 'Back', Component.find(session[:component_id]) %>
<% else %>
  <%= link_to 'Back', features_path %>
<% end %>

